*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #202020;
}
h1 {
  font-size: 42px; /* font size fallback */
  font-size: 12vw;
}
img {
  max-width: 100%;
}
a {
  color: #555;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

.content-wrapper {
  padding: 20px;
}

.content-header {
  position: relative;
}
.headline {
  font-family: "Paytone One", sans-serif;
  position: relative;
  z-index: 5;
  margin: 0;
}
.subheadline-h1 {
  font-family: "Paytone One", sans-serif;
  font-size: 44px; /* font size fallback */
  font-size: 13vw;
  color: #ddd;
  position: absolute;
  top: 8vw;
  left: 2vw;
  z-index: 3;
  line-height: 1;
}
.subheadline-h2 {
  font-family: "Paytone One", sans-serif;
  font-size: 35px;
  color: #ddd;
  position: absolute;
  top: 10px;
  z-index: 3;
  line-height: 1;
}
.headline-singers {
  font-family: "Paytone One", sans-serif;
}

.singers img {
  display: block;
  margin: 0 auto;
}

.comingsoon {
  font-family: "Paytone One", sans-serif;
  text-align: center;
}
.footer {
  text-align: center;
  color: #aaa;
  font-size: 18px;
}

.hide-sm {
  display: none;
}

.gig--past {
  opacity: 0.7;
  text-decoration: line-through;
}

@supports (display: grid) {
  .singers {
    display: grid;
  }
}

.singers {
  margin-bottom: 2rem;
}

.singer-content {
  font-size: 16px;
}

.repertoire {
  font-size: 16px;
}

.repertoire strong {
  font-size: 18px
}

@media screen and (min-width: 620px) {
  body {
    font-size: 22px;
  }

  .content-wrapper {
    max-width: 630px;
    margin: 0 auto;
  }

  h1 {
    font-size: 74px;
  }

  .subheadline-h1 {
    font-size: 90px;
    left: 1rem;
    top: 30px;
  }
  .subheadline-h2 {
    font-size: 40px;
    top: 20px;
  }

  .hide-sm {
    display: block;
  }
  .hide-lg {
    display: none;
  }

  .singer-content {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .singer-content > * {
    flex-basis: 47%;
  }

  .singers img {
    margin: 0;
  }

  .singers p {
    margin-top: 0;
  }

  .repertoire strong {
    font-size: 22px;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 74px;
  }

  .subheadline-h1 {
    font-size: 90px;
    left: 3rem;
    top: 30px;
  }
  .image-wide,
  .singers {
    width: 1000px;
    max-width: 1000px;
    margin-left: -215px;
  }
  .singers {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
  }

  .singer-content {
    display: block;
  }

  .singers p {
    margin-top: 1rem;
  }
}
